<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pagination & Grids</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- *********************** CSS FILES *********************** -->

	<!-- RESET CSS -->
	<link rel="stylesheet" href="content/css/reset.css">

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="content/css/main.css">

	<!-- *********************** CSS FILES *********************** -->

</head>

<body ng-app="paginationApp" >

	<div class="mainPage" ng-controller="mainController">
		
		<div class="tableDiv">
			<div class="container-fluid">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Mobile number</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr ng-repeat="user in users">{{user}}</tr> -->
						<!-- <tr ng-repeat="user in users">
							<td>{{user.ID}}</td>
							<td>{{user.Firstname}}</td>
							<td>{{user.Lastname}}</td>
							<td>{{user.Mobile}}</td>
							<td>{{user.Email}}</td>
						</tr> -->

						<tr ng-repeat="name in firstNames track by $index">
							<td>{{name}}</td>
						</tr>
						
						
						<!-- {{firstNames}} -->



					</tbody>
				</table>
			</div>
		</div>





			<!-- {{users[0].Firstname}} -->

			<!-- {{users}} -->

			<div class="paginationDiv">
				<ul class="pagination">
					<li ng-repeat="grid in gridList"><!-- {{grid}} --></li>
				</ul>
			</div>

	</div>		<!-- END .mainPage -->

	
	



	<!-- ******************** JAVASCRIPT FILES ******************** -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<!-- BOOTSTRAP JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- ANGULAR JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>

	<!-- APP JS -->
	<script type="text/javascript" src="app/app.js"></script>

	<!-- INTERNAL JS -->
	<script type="text/javascript" src="content/js/script.js"></script>

	<!-- ******************** JAVASCRIPT FILES ******************** -->

</body>
</html>