<!DOCTYPE html>
<html lang="en">
<head>
	<title>To-do list</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- *********************** CSS FILES *********************** -->

	<!-- RESET CSS -->
	<link rel="stylesheet" href="content/css/reset.css">

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="content/css/main.css">

	<!-- *********************** CSS FILES *********************** -->

</head>

<body ng-app="app" ng-controller="mainController">

	<!-- MAIN PAGE STARTS -->
	<div class="mainPage">
		
		<!-- PAGE HEADER STARTS -->
		<div class="header">
			<div class="subHeader container-fluid">
				<div class="col-sm-9">
					<h2>To-do list</h2>
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-info plusAndSummary glyphicon glyphicon-plus" data-toggle="modal" data-target="#plus"></button> <br><br>
					<button type="button" class="btn btn-info plusAndSummary" data-toggle="modal" data-target="#summary"><strong>Summary</strong></button>
				</div>
			</div>
		</div>
		<!-- END OF PAGE HEADER -->




		<!-- FIRST POPUP (PLUS BUTTON) -->
		<div class="container">
			<div class="modal fade" id="plus" role="dialog">
			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Add new item</h4>
			        </div>

			        <div class="modal-body">
			          <form action="" name="form">
			          	<label for="addTitle">Title: </label>
			          	<input type="text" id="addTitle" ng-model="list.title" ng-click="clearFieldTitle()" name="plusTitle" required>
			          				
			          	<label for="addDescription">Desciption: </label>
			          	<input type="text" id="addDescription" ng-model="list.description" ng-click="clearFieldDescription()" name="plusDescription" required>
			          	
			          	<button type="button" class="saveButton btn btn-info" id="saveButton" ng-disabled="form.plusTitle.$error.required || form.plusDescription.$error.required" ng-click="saveFunction()">Save</button>
			          </form>
			        </div>

			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			      
			    </div>
			</div>		
		</div>
		<!-- FIRST POPUP (PLUS BUTTON) -->



		<!-- SECOND POPUP (SUMMARY BUTTON) -->
		<div class="container">
			<div class="modal fade" id="summary" role="dialog">
			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Summary</h4>
			        </div>
			        <div class="modal-body">
			          <p>Total todos: <span ng-bind="total"></span> </p>
			          <p>Last updation time: <span>{{lastTime | date:'MMM d, y h:mm:ss a'}}</span> </p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			    </div>
			</div>		
		</div>
		<!-- END SECOND POPUP (SUMMARY BUTTON) -->


		<!-- EDIT POPUP -->
		<div class="container">
			<div class="modal fade" id="edit" role="dialog">
			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			        <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Edit field</h4>
				        </div>
				        <div class="modal-body">
							<form action="" name="editForm">
					          	<label for="editTitle">Title: </label>
					          	<input type="text" id="editTitle" ng-model="list.title" name="editTitle" required>
					          				
					          	<label for="editDescription">Desciption: </label>
					          	<input type="text" id="editDescription" ng-model="list.description" name="editDescription" required>
					          	
					          	<button type="button" class="editSaveButton btn btn-info" id="editSaveButton" ng-disabled="editForm.editTitle.$error.required || editForm.editDescription.$error.required" ng-click="editFunction()">Save</button>
			          		</form>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
			        </div>
			    </div>
			</div>
		</div>
		<!-- END EDIT POPUP -->
		
		<br><br><br><br><br>

		<!-- MAIN TABLE AND DATA STARTS -->
		<div class="table">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th ng-click="serialNumberToggle()"><strong>S. No.</strong></th>
						<th ng-click="titleToggle()"><strong>Title</strong></th>
						<th ng-click="descriptionToggle()"><strong>Description</strong></th>
						<th ng-click="timeToggle()"><strong>Time added</strong></th>
						<th><strong>Edit | Remove</strong></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="listItem in lists track by $index">
						<td>{{listItem.id}}</td>
						<td>{{listItem.title}}</td>
						<td>{{listItem.description}}</td>
						<td>{{listItem.time | date:'MMM d, y h:mm:ss a'}}</td>
						<td><strong><a class="edit" data-toggle="modal" data-target="#edit" ng-click="setId(listItem.id)">Edit</a></strong>&nbsp;&nbsp;&nbsp;<strong>|</strong>&nbsp;&nbsp;&nbsp;<button type="button" class="remove" ng-click="close(listItem.id); setSerial()"><a>Remove</a></button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- END OF MAIN TABLE AND DATA -->
	</div>
	<!-- END OF MAIN PAGE -->


	<!-- ******************** JAVASCRIPT FILES ******************** -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<!-- BOOTSTRAP JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- ANGULAR JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>

	<!-- APP JS -->
	<script type="text/javascript" src="app/app.js"></script>

	<!-- INTERNAL JS -->
	<script type="text/javascript" src="content/js/script.js"></script>

	<!-- ******************** JAVASCRIPT FILES ******************** -->

</body>
</html>