html, body, .mainpage, .formdiv, .form, .formgroup {
	width: 100%;
	height: 100%;
}

textarea {
	resize: none;
}

.formHeading {
	text-align: center;
	font-weight: bold;
	cursor: default;
}

.mainPage {
	padding: 4%;
	background: #111;
	color: #FFF;
}


.alert {
	height: 40%;
}
