html, body, .mainpage, .formdiv, .form, .formgroup {
	width: 100%;
	height: 100%;
}

textarea {
	resize: none;
}

.formHeading {
	text-align: center;
	font-weight: bold;
	cursor: default;
}

.mainPage {
	padding: 4%;
	background: #111;
	color: #FFF;
}

/* 
.form {
	border: 3px solid blue;;
	height: 50%;
}
 */

/* .form-group {
	border: 3px solid blue;;
	height: 20%;
}
 */

/* .col-sm-2 {
	border: 3px solid blue;
	display: inline-block;
	height: 10%;
}

.alert {
	display: inline-block;
	border: 3px solid blue;
	height: 100%;
} */