html, body, .grids {
	width: 100%;
	height: 100%;
}

.grid {
	/* border: 1px solid black; */
	width: 60%;
	height: 30%;
	margin: auto;
	margin-bottom: 1%;	
}

.image {
	float: left;
}

.contentText {
	/* border: 1px solid black; */
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
	margin-right: 5%;
	margin-left: 4%;
	width: 60%;
	height: 50%;
	line-height: 1.5em;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	color: #f4b12f;
}

p {
	color: #555;
}

p.venue {
	font-weight: bold;
	color: #f4b12f;
}

.hr {
	/* border: 1px solid black; */
	display: inline-block;
	width: 90%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

}