html, body, .grids {
	width: 100%;
	height: 100%;
}

.grid1 {
	border: 1px solid black;
	width: 60%;
	height: 27%;
	margin: auto;
}

.image {
	float: left;
	
}

.contentText {
	border: 1px solid black;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
	margin-right: 5%;
	width: 60%;
	height: 50%;
	line-height: 1.5em;
}