<!DOCTYPE html>
<html lang="en">
<head>
	<title>Responsive form</title>
	<meta charset="utf-8">

	<!-- *********************** CSS FILES *********************** -->

	<!-- RESET CSS -->
	<link rel="stylesheet" href="content/css/reset.css">

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="content/css/main.css">

	<!-- *********************** CSS FILES *********************** -->

</head>

<body ng-app="app" ng-cloak>

	<div class="mainPage">
		
		<!-- FORM "div" STARTS HERE -->
		<h2 class="formHeading">Register here</h2>
		<br><br>
		<div class="formDiv" >

			<!-- FORM STARTS -->
			<form name="form" action="" class="form form-horizontal" role="form" ng-controller="formController">
				
				<!-- NAME FIELD STARTS -->
				<div class="form-group">
					<label for="Name" class="control-label col-sm-1" ng-click="user.clickFunction(user.name)">Name*: </label>
					<div class="col-sm-9">
						<input name="name" type="text" class="form-control" placeholder="Enter your name" ng-model="user.name" ng-pattern="/^[a-z ,.'-]+$/i" ng-maxlength="25" required>
						
					</div>

					<div class="col-sm-2">
						<span class="alert alert-danger" ng-show="!(form.name.$error.required) && (form.name.$invalid)">Enter a valid name !</span>
						<span class="alert alert-danger" ng-show="form.name.$error.required && !(form.name.$pristine)">Enter your name !</span>
					</div>
				</div> <!-- NAME FIELD ENDS -->

				<!-- E-MAIL FIELD STARTS -->
				<div class="form-group">
					<label for="email" class="control-label col-sm-1" >E-mail*: </label>
					<div class="col-sm-9">
						<input name = "email" type="email" class="form-control" placeholder="Enter your e-mail" ng-model="user.email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" ng-blur="user.blur(user.email)" required>
					</div>
					<div class="col-sm-2">
						<span class="alert alert-danger" ng-show="!(form.email.$error.required) && (form.email.$invalid)">Enter a valid e-mail !</span>
						<span class="alert alert-danger" ng-show="form.email.$error.required && !(form.email.$pristine)">Enter your e-mail !</span> 
					</div>
				</div> <!-- E-MAIL FIELD ENDS -->


				<span>Password length: {{user.counter}}</span>


				<!-- PASSWORD FIELD STARTS -->
				<div class="form-group">
					<label for="Password" class="control-label col-sm-1">Password*: </label>
					<div class="col-sm-9">
						<input name="password" type="password" class="form-control" placeholder="Enter your password" ng-model="user.password" ng-minlength="8" ng-maxlength="16" ng-keyup="user.change()" required>
					</div>

					

					<div class="col-sm-2">
						<span class="alert alert-danger" ng-show="!(form.password.$error.required) && (form.password.$invalid)">Length: 8 - 16 !</span>
						<span class="alert alert-danger" ng-show="form.password.$error.required && !(form.password.$pristine)">Enter your password !</span>
					</div>
				</div> <!-- PASSWORD FIELD ENDS -->

				<!-- GENDER FIELD STARTS -->
				<div class="form-group">
					<label for="Gender" class="control-label col-sm-1">Gender*: </label>
					<div class="col-sm-9">
						<div class="radio-inline">
							<label for="Male"><input name="Gender" id="Male" type="radio" checked>M</label>
						</div>
						<div class="radio-inline">
							<label for="Female"><input name="Gender" id="Female" type="radio">F</label>
						</div>
					</div>
				</div> <!-- GENDER FIELD ENDS -->

				<!-- AGE FIELD STARTS -->
				<div class="form-group">
					<label for="Age" class="control-label col-sm-1">Age*: </label>
					<div class="col-sm-9">
						<select class="form-control" id="Age">
							<option ng-repeat="age in ages" value="age">{{age}}</option>
						</select>
					</div>
				</div> <!-- AGE FIELD ENDS -->

				<!-- ADDRESS FIELD STARTS -->
				<div class="form-group">
					<label for="Address" class="control-label col-sm-1">Address*: </label>
					<div class="col-sm-9">
						<textarea name="address" id="Address" cols="30" rows="5" class="form-control" placeholder="Enter your full address" ng-model="user.address" required></textarea>
						<div class="alert alert-danger" ng-show="!(form.address.$error.required) && (form.address.$invalid)">Enter a valid address !</div>
						<div class="alert alert-danger" ng-show="form.address.$error.required && !(form.address.$pristine)">Enter your address !</div> 
					</div>
				</div> <!-- ADDRESS FIELD ENDS -->

				<!-- SUBMIT FIELD STARTS -->
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-11">
						<button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Submit</button>
					</div>
				</div> <!-- SUBMIT FIELD ENDS -->

			</form> <!-- FORM ENDS -->
		</div>

	</div>


	<!-- ******************** JAVASCRIPT FILES ******************** -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<!-- BOOTSTRAP JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- ANGULAR JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>

	<!-- APP JS -->
	<script type="text/javascript" src="app/app.js"></script>

	<!-- INTERNAL JS -->
	<script type="text/javascript" src="content/js/script.js"></script>

	<!-- ******************** JAVASCRIPT FILES ******************** -->

</body>
</html>