<!DOCTYPE html>
<html lang="en">
<head>
	<title>Responsive form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- *********************** CSS FILES *********************** -->

	<!-- RESET CSS -->
	<link rel="stylesheet" href="content/css/reset.css">

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="content/css/main.css">

	<!-- ANGULAR MATERIAL CSS -->
	<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css">

	<!-- *********************** CSS FILES *********************** -->

</head>

<body onload="ClearForm()" ng-app="app">

	<!-- MAIN PAGE STARTS -->
	<div class="mainPage">

		<!-- PAGE HEADER -->
		<div class="header container-fluid ">
			<div class="">
				<h2>Register here</h2> <br>
			</div>
		</div>

		
		<div class="formContainer container-fluid" ng-controller="formController">
			<form name="form" class="form-horizontal" role="form">
				<div class="form-group">
					<div class="col-sm-2">
						<label for="Name" class="control-label">Name: </label>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Name" placeholder="Enter name" ng-model="name" ng-pattern="/^[a-z ,.'-]+$/i" required>
					</div>
				</div> <!-- .form-group 1 Name -->

				<div class="form-group">
					<div class="col-sm-2">
						<label for="DOB" class="control-label">Date of birth: </label>	
					</div>
					<div class="col-sm-3">
						<md-content class="date">
							<md-datepicker name="DOB" ng-model="myDate" md-placeholder="Enter date" ng-model="DOB" required></md-datepicker>
						</md-content>
					</div>
				</div> <!-- .form-group 2 DOB -->

				<div class="form-group">
					<div class="col-sm-2">
						<label for="contactNumber" class="control-label">Contact number: </label>
					</div>
					<div class="col-sm-10">
						<input type="text" id="contactNumber" class="form-control" placeholder="Enter contact number" ng-pattern="/^[0-9]*$/" ng-maxlength="10" ng-minlength="10" ng-model="contactNumber" required>
					</div>
				</div> <!-- .form-group 3 ContactNumber -->




				<div class="form-group">
					<div class="col-sm-2">
						<label for="email" class="control-label">E-mail: </label>
					</div>
					<div class="col-sm-10">
						<input type="email" id="email" class="form-control" placeholder="Enter email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" ng-model="email" required>
					</div>
				</div> <!-- .form-group 4 Email -->




				<div class="form-group">
					<div class="col-sm-2">
						<label for="subscribe">Account type: </label>
					</div>
					<div class="col-sm-10">
						<input type="checkbox" id="accountType" ng-model="accountType" ng-click="test()" data-on="Private" data-off="Public">
					</div>
				</div> <!-- .form-group PUBLIC/PRIVATE ACCOUNT TOGGLE -->




				<div class="form-group" ng-show="toggleControl">
					<div class="col-sm-2">
						<label for="password" class="control-label">Password: </label>
					</div>
					<div class="col-sm-10">
						<input type="password" id="password" class="form-control" placeholder="Enter password" ng-model="password" required>
					</div>
				</div> <!-- .form-group 5 Password -->

				<div class="form-group" ng-show="toggleControl">
					<div class="col-sm-2">
						<label for="passwordConfirm" class="control-label">Confirm password: </label>
					</div>
					<div class="col-sm-10">
						<input type="password" id="passwordConfirm" class="form-control" placeholder="Enter password" ng-model="passwordConfirm" required>
					</div>
				</div> <!-- .form-group 6 Confirm password -->
				
				<div class="form-group">
					<div class="col-sm-2">
						<input type='file' id="imgInp" />
					</div>
        			<div class="col-sm-10  image">
        				<img id="thumbnail" class="img-thumbnail" src="#" alt="your image" />
        			</div>
				</div> <!-- .form-group 7 Image upload -->

				<div class="form-group" ng-hide="toggleControl">
					<div class="col-sm-2">
						<label for="subscribe">Subscribe news letter: </label>
					</div>
					<div class="col-sm-10">
						<input type="checkbox" id="subscribeToggle" data-toggle="toggle" data-on="Yes" data-off="No" ng-model="subscribeToggle">
					</div>
				</div> <!-- .form-group 8 Subscribe slider -->

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-1">
						<button type="submit" class="btn btn-info" data-toggle="modal" data-target="#validationPopup" ng-disabled="form.$invalid">Submit</button>
					</div>
					<div class="col-sm-9">
						<button type="reset" class="btn btn-danger reset">Reset</button>
					</div>
				</div> <!-- .form-group 9 Submit button -->

				
			</form>

			<div id="validationPopup" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Modal Header</h4>
						</div>
						<div class="modal-body">
							<p>Some text in the modal.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- ******************** JAVASCRIPT FILES ******************** -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<!-- BOOTSTRAP JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- BOOTSTRAP TOGGLE -->
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<!-- ANGULAR JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>

	<!-- ANGULAR ANIMATE -->
	<script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular-animate.min.js"></script>

	<!-- ANGULAR ROUTE -->
	<script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular-route.min.js"></script>

	<!-- ANGULAR ARIA -->
	<script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular-aria.min.js"></script>

	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>

	<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>

	<!-- APP JS -->
	<script type="text/javascript" src="app/app.js"></script>

	<!-- Form controller JS -->
	<script type="text/javascript" src="controller/formController.js"></script>

	<!-- INTERNAL JS -->
	<script type="text/javascript" src="content/js/script.js"></script>

	<!-- ******************** JAVASCRIPT FILES ******************** -->
</body>
</html>